[Desktop Entry]
Name=Amarok
Icon=amarok
Exec=amarok
TryExec=amarok
Package=amarok
Type=Application
Description=Unter Linux ein weit verbreitetes Audio Wiedergabeprogramm
Homepage=http://amarok.kde.org/
Categories=Seminarix-Musik