[Desktop Entry]
Name=Audacity
Icon=audacity
Exec=audacity
TryExec=audacity
Package=audacity
Type=Application
Description=Audio-Editor, freie Software. Erhältlich für Windows, Mac (OS 9 und OS X) sowie Linux. Flexibles Audio-Programm, das den Vergleich mit proprietären Programmen nicht zu scheuen braucht. Eine echte Alternative für schulisches Recording und Editing zum Nulltarif. MIDI-Import, virtuelle Mehrspurtechnik, Undo-Funktion sowie das Arbeiten in verschiedensten Formaten und Samplingraten lassen professionelle Ergebnisse zu.
Homepage=http://audacity.sourceforge.net/
Categories=Seminarix-Musik