[Desktop Entry]
Name=Celestia
Icon=celestia
Exec=celestia
TryExec=celestia
Package=celestia
Description=Anders als die meisten Software-Planetarien ist Celestia nicht erdgebunden. Freier Flug durch die Galaxis mit atemberaubenden Ansichten des Sonnensystems oder zu über 100,000 anderen Sternen. Steht auch unter anderen Betriebssystemen zur Verfügung.
Homepage=http://www.shatters.net/celestia
Categories=Seminarix-Musik