[Desktop Entry]
Name=Childsplay
Icon=childsplay
Exec=childsplay
TryExec=childsplay
Package=childsplay
Description=Childsplay ist eine Sammlung von Lernspielen für Kinder, ähnlich GCompris. Childsplay enthält u.a. Mathe-, Schreibspiele und kann um andere Spiele erweitert werden.
Homepage=http://childsplay.sourceforge.net/
Categories=Seminarix-Lernspiele