[Desktop Entry]
Name=Dia
Icon=dia
Exec=dia
TryExec=dia
Package=dia
Description=Dia ist inspiriert worden durch das proprietäre  Programm 'Visio'. Mit Dia können die verschiedenen Arten von Diagrammen, Flussdiagrammen und Strukturzeichnungen angefertigt werden. Auch Logikschaltungen und Netzwerke sind darstellbar. Die Produkte können in verschiedene Formate wie EPS, SVG, XFIG, WMF und PNG exportiert werden.
Homepage=http://www.gnome.org/projects/dia/
Categories=Seminarix-Kunst