[Desktop Entry]
Name=Digikam
Icon=digikam
Exec=digikam
TryExec=digikam
Package=digikam
Description=Mit Digikam lassen sich die digitalen Bildern von der Digitalkamera auf die Festplatte kopieren. Zahlreiche und mächtige Bilderbearbeitungsmöglichkeiten. Wenn Sie mit dem Programm auf der Live-CD arbeiten wollen, müsssen Sie natürlich für die Produkte ein beschreibbares Medium einbinden.
Homepage=http://www.digikam.org/
Categories=Seminarix-Kunst
