[Desktop Entry]
Name=GPeriodic
Icon=gperiodic
Exec=gperiodic
TryExec=gperiodic
Package=gperiodic
Description=GPeriodic ist ein kleines Programm über das Periodensystem, das tabellarisch detaillierte Informationen über jedes der im Periodensystem aufgeführten Elemente enthält. Java-Applet.
Homepage=http://gperiodic.seul.org/
Categories=Seminarix-Chemie

