[Desktop Entry]
Name=hebcal
Icon=hebcal
Exec=x-terminal-emulator -e hebcal
TryExec=hebcal
Package=hebcal
Description=hebcal enthält einen immerwährenden jüdischen Kalender. Hebcal ist ein Programm, das die Tage im Jüdischen Kalender für ein gegebenes gregorianisches Jahr ausdruckt. Hebcal kann flexibel die Ereignisse im Jüdischen Kalender anzeigen.
Homepage=http://www.hebcal.com/
Categories=Seminarix-Religion