[Desktop Entry]
Name=KAtomic
Icon=katomic
Exec=katomic
TryExec=katomic
Package=katomic
Description=Aus den KDE-Spielen stammendes und ein wenig an Sokoban erinnerndes Spiel, bei dem mit den verschiedenen Atomen Moleküle zusammen zu bauen sind.
Homepage=http://www.linuxia.de/packages/Debian/stable/Detail/katomic?id=SzsH7oqK&mv_pc=57
Categories=Seminarix-Chemie

