[Desktop Entry]
Name=KDissert
Icon=kdissert
Exec=kdissert
TryExec=kdissert
Package=kdissert
Description=Programm aus dem KDE-Projekt, mit dessen Hilfe man Mindmaps erstellen kann. Zur Darstellung größerer - auch gedanklicher - Zusammenhänge und Projekte sehr nützlich. Mit Hilfe eines Clicks der rechten Maustaste fügen Sie Objekte in die Mindmap ein und bearbeiten Sie die "Gedankenkarte".
Homepage=http://freehackers.org/~tnagy/kdissert/
Categories=Seminarix-Allgemein
