[Desktop Entry]
Name=Kiten
Icon=kiten
Exec=kiten
TryExec=kiten
Package=kiten
Description=Kiten beinhaltet drei wesentliche Funktionen:<ul>
<li>Es ist ein bequemes Englisch nach Japanisch und Japanisch nach Englisch Wörterbuch.</li><li>Es ist ein Kanji-Wörterbuch mit vielen Wegen, die einzelnen Buchstaben nachzuschlagen</li><li>Es ist ein Werkzeug, Kanji zu erlernen.</li></ul>Unter dem Hilfe Button kann man ein deutschsprachiges Handbuch zu Kiten auswählen.
Homepage=http://edu.kde.org/kiten/
Categories=Seminarix-Sprachen