[Desktop Entry]
Name=KLettres
Icon=klettres
Exec=klettres
TryExec=klettres
Package=klettres
Description=KLettres soll zunächst das Erlernen des Alphabets in einer neuen Sprache und im Weiteren das Lesen von einfachen Silben erleichtern. Geeignet ist das Programm für Kinder ab 2 Jahren aber auch für Erwachsene, die die Basis einer fremden Sprache erlernen möchten.<br><br>Zur Zeit sind 11 Sprachen verfügbar: Tschechisch, Dänisch, Holländisch, Englisch, Französisch, Italienisch, Luganda, Hindi (in lateinischer Umschrift), Spanisch, Slowakisch und Deutsch. Englisch, Französisch und die eigene Sprache Deutsch wird als Voreinstellung installiert.<br><br>
KLettres ist leicht zu nutzen. Die Sprache kann einfach im Menü Sprache gewählt werden. Die Spielstufe von 1 bis 4 können die Schüler im Auswahlfeld in der Werkzeugleiste oder im Menü Spielstufe einstellen. Hintergrund und Schrift sind in einem Auswahlfeld oder im Menü Aussehen --> Design auswählbar. Drei Designs stehen zur Auswahl: Klassenraum, Arktis und Wüste. Im Menü Aussehen kann ein Kindermodus oder der Erwachsenenmodus eingestellt werden.<br><br>Ein ausführliches Anwenderhandbuch findet man im Programm Klettres unter dem dortigen Hilfe-Button.<br><br>Klettres erfordert zur Sprachausgabe eine funktionstüchtige Soundkarte sowie einen angeschlossenen Kopfhörer oder Lautsprecher. 
Homepage=http://edu.kde.org/klettres/
Categories=Seminarix-Lernspiele;Seminarix-Sprachen