[Desktop Entry]
Name=KPercentage
Icon=kpercentage
Exec=kpercentage
TryExec=kpercentage
Package=kpercentage
Description=Prozentrechnungen üben ist mit diesem Programm (ebenfalls aus dem Projekt edu.kde.org) sehr intensiv.
Homepage=http://edu.kde.org/kpercentage/
Categories=Seminarix-Mathematik