[Desktop Entry]
Name=Krusader
Icon=krusader_user
Exec=krusader
TryExec=krusader
Package=krusader
Description=Ein grafisch ausgelegter Festplattenmanager, der neben der Hilfe bei Kopieren und Verschieben und sonstigen Arbeiten im System auch den Aufbau des System deutlich werden läßt.<br><br>Handbuch unter Info (in Englisch).
Homepage=http://krusader.sourceforge.net/
Categories=Seminarix-Allgemein