[Desktop Entry]
Name=PCB
Icon=pcb
Exec=pcb
TryExec=pcb
Package=pcb
Description=Wer auf fertig hergestellte Platinen (auch gedruckte Schaltungen oder Leiterplatten genannt) verzichten möchte und statt dessen selbst eine erstellen will, kann dies mittels dieses Programms verwirklichen. Vorhandene elektronische Bauteile müssen durch den Nutzer verknüpft und positioniert werden (virtueller Test des Stromkreislaufes ist integraler Bestandteil). Neben der automatischen Leiterbahnberechnung können diese auch manuell verändert werden.
Homepage=http://pcb.sourceforge.net/
Categories=Seminarix-Technik