[Desktop Entry]
Name=Pingus
Icon=pingus
Exec=pingus
TryExec=pingus
Package=pingus
Description=Pingus ist ein freier Clone des schönen alten Spiels "Lemminge": Retten Sie die Pinguine!
Homepage=http://pingus.seul.org/
Categories=Seminarix-Lernspiele