[Desktop Entry]
Name=QGis
Icon=qgis
Exec=qgis
TryExec=qgis
Package=qgis-plugin-grass
Description=Wie auch GRASS ein geografisches Informationssystem mit freiem Geodatenviewer. Er bietet Support für Vektor- und Rasterdaten.
Homepage=http://www.grass-gis.de
Categories=Seminarix-Erdkunde
