[Desktop Entry]
Name=Quanta Plus
Icon=quanta
Exec=quanta
TryExec=quanta
Package=quanta
Description=Quanta Plus ist eine Entwicklungsumgebung zum Erstellen von Webseiten. Es bietet eine Projektverwaltung und unterstützt beliebige Auszeichnungssprachen, der Schwerpunkt liegt aber auf webbasierten Sprachen und Techniken wie HTML, XHTML, CSS, JavaScript, Java, oder PHP.<br>Quanta Plus unterstützt eine Vielzahl externer Komponenten und Werkzeuge, welche die Entwicklung unterstützen.<br>Damit stellt Quanta eine umfangreiche und dennoch einfach zu bedienende Umgebung dar, um schnell und effizient eigene Webseiten zu erstellen und zu verwalten.
Homepage=http://quanta.kdewebdev.org/
Categories=Seminarix-Allgemein