[Desktop Entry]
Name=Sonnenuhr
Icon=sunclock
Exec=sunclock
TryExec=sunclock
Package=sunclock
Description=SunClock stellt eine Karte von der Erde dar und zeigt an, welche Teile jeweils von der Sonne beschienen werden. Bei der Darstellung kann zwischen einem Zeitfenster und einem Kartenfenster gewechselt werden. Das Zeitfenster zeigt einen kleinen Ausschnitt (und benötigt weniger Arbeitsspeicher). Das Kartenfenster zeigt eine große Karte und bietet eine Reihe erweiterter Funktionen an: Lokalzeit, Sonnenstand, Position des Mondes etc.
Homepage=http://frmas.free.fr/li_1.htm
Categories=Seminarix-Erdkunde
