[Desktop Entry]
Name=TuxPaint
Icon=tuxpaint
Exec=tuxpaint
TryExec=tuxpaint
Package=tuxpaint
Description=TuxPaint ist ein freies Zeichenprogramm für Kinder ab 3. Es verfügt über sehr einfach handzuhabende Werkzeuge und auch lustige Soundeffekte. Ein Cartoonmännchen führt in das Zeichnen ein. Eine Reihe von Werkzeugen hilft beim kreativen Malen.
Homepage=http://www.tuxpaint.org/
Categories=Seminarix-Kunst
