[Desktop Entry]
Name=VLC
Icon=vlc
Exec=vlc
TryExec=vlc
Package=vlc
Description=Der VLC Media Player (anfänglich VideoLAN Client) ist ein hoch portabler, freier Medienspieler sowohl für diverse Audio- und Videocodecs und Dateiformate, als auch DVDs, VCDs. VLC unterstützt unterschiedliche Streaming-Protokolle.
Homepage=http://www.videolan.org/vlc/
Categories=Seminarix-Allgemein