Source: sidux-edu
Section: admin
Priority: extra
Maintainer: Fabian Wuertz <xadras@sidux.com>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), automake1.10, kdelibs4-dev, imagemagick
Standards-Version: 3.7.3

Package: sidux-edu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: program starter and menu system for educational applications
 generic menu system to act dynamically on installed packages and describe 
 their uses for educational purposes
