[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sidux-edu
Icon=sidux-edu
Name=appstarter
Name[de]=Programmstarter
Name[ru]=Запуск программ образования
Categories=Utility;
