[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sidux-edu
Icon=seminarix
Name=sidux seminarix appstarter
Name[de]=sidux seminarix Programmstarter
Categories=sidux
